/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply bg-gradient-to-r from-bg via-primary to-bg;
}

@keyframes back-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.back-in-left {
  animation: back-in-left 1s forwards;
}
@keyframes back-in-left2 {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.back-in-left2 {
  animation: back-in-left2 1.5s forwards;
}
@keyframes back-in-left3 {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.back-in-left3 {
  animation: back-in-left3 1.5s forwards;
}
@keyframes back-in-left4 {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.back-in-left4 {
  animation: back-in-left4 1.5s forwards;
}
@keyframes back-in-left5 {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.back-in-left5 {
  animation: back-in-left5 1.5s forwards;
}
@keyframes back-in-left6 {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.back-in-left6 {
  animation: back-in-left6 1.5s forwards;
}
